table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: auto;
  padding: 0.5rem;
}

tr {
  th {
    font-size: larger;
    font-weight: bolder;
    color: rgb(35, 35, 35);
  }
  td.mat-cell.mat-column-option {
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
  }
}
